phyps2e_m2.vcf.gz
phyps2e_m2.vcf.gz.csi
2_popgen/byLOC/*.txt
2_popgen/byLOC/*.vcf.gz*
2_popgen/byLOC/*.traw
2_popgen/byLOC/*.log
2_popgen/byLOC/*.nosex
2_popgen/bySPC/*.txt
2_popgen/bySPC/*.vcf.gz*
2_popgen/bySPC/*.traw
2_popgen/bySPC/*.log
2_popgen/bySPC/*.nosex
2_popgen/byALL/*.traw
2_popgen/byALL/*.log
2_popgen/bySPC/*.nosex
.R* 
1_phenotyping/.R*
1_phenotyping/Rplots.pdf
1_phenotyping/.snakemake/*
1_phenotyping/pca/*
.DS_Store
**/.DS_Store
