phyps2e_m2.vcf.gz
phyps2e_m2.vcf.gz.csi
2_popgen/newhyb/*
2_popgen/ld/*
2_popgen/byLOC/*.in
2_popgen/byLOC/*.out
2_popgen/bySPC/*.in
2_popgen/bySPC/*.out
2_popgen/byLOC/*.bed
2_popgen/byLOC/*.bim
2_popgen/byLOC/*.fam
2_popgen/byLOC/*.txt
2_popgen/byLOC/*.vcf.gz*
2_popgen/byLOC/*.traw
2_popgen/byLOC/*.log
2_popgen/byLOC/*.nosex
2_popgen/bySPC/*.bed
2_popgen/bySPC/*.bim
2_popgen/bySPC/*.fam
2_popgen/bySPC/*.txt
2_popgen/bySPC/*.vcf.gz*
2_popgen/bySPC/*.traw
2_popgen/bySPC/*.log
2_popgen/bySPC/*.nosex
2_popgen/byALL/*.traw
2_popgen/byALL/*.bed
2_popgen/byALL/*.bim
2_popgen/byALL/*.fam
2_popgen/byALL/*.log  
2_popgen/byALL/*.nosex
2_popgen/byALL/*.in
2_popgen/byALL/*.out
2_popgen/.R*
2_popgen/Rplots.pdf
2_popgen/.snakemake/*
.R* 
1_phenotyping/.R*
1_phenotyping/Rplots.pdf
1_phenotyping/.snakemake/*
1_phenotyping/pca/*
1_phenotyping/logs/*
scripts/R/.RData
scripts/R/.Rhistory
scripts/R/Rplots.pdf
.DS_Store
**/.DS_Store
